{% extends "patient/layout.html" %}
{% block title %}Download Prescription{% endblock %}
{% block body %}


      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">MAIN NAVIGATION</li>
        
        <li>
          <a href="{{url_for('pat_dash')}}">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
            
          </a>
        </li>
        
        
        
        <li class="treeview">
          <a href="#">
            <i class="fa fa-cloud-upload"></i> <span>Upload Reports</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
              <small class="label pull-right bg-green">new</small>
            </span>
          </a>
          <ul class="treeview-menu">
            <li class="active"><a href="{{url_for('pat_mri_scan')}}"><i class="fa fa-circle-o text-red"></i> MRI Scan</a></li>
            <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> X-Rays</a></li>
          </ul>
        </li>

        <li>
          <a href="{{url_for('pat_prev_rep')}}">
            <i class="fa fa-file"></i> <span>Previous Reports</span>
          </a>
        </li>
        
        <li>
            <a href="{{url_for('pat_doc_book')}}">
              <i class="fa fa-user-md"></i> <span>Doctor Booking</span>
            </a>
          </li>
        
        <li class="active">
          <a href="{{url_for('pat_down_pres')}}">
            <i class="fa fa-cloud-download"></i> <span>Download Prescription</span>
          </a>
        </li>
        
        <li class="header">PROFILE</li>
        <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>Update Profile</span></a></li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Download Prescription
        <small>Control panel</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Small boxes (Stat box) -->
        
      
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Download Prescription</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <table id="example1" class="table table-bordered table-striped">
            <thead>
            <tr>
              <th>Sl. No.</th>
              <th>Given by</th>
              <th>Date</th>
              <th>Download</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>1</td>
              <td>John Doe</td>
              <td>31 January,2021</td>
              <td><button type="button" class="btn btn-block btn-info btn-sm">Download</button></td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th>Sl. No.</th>
                <th>Given by</th>
                <th>Date</th>
                <th>Download</th>
            </tr>
            </tfoot>
          </table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->

      <!-- /.row (main row) -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
   
{% endblock %}