body {
  height: 100%;
  margin: 0;
}

nav {
  background: #0082e6;
  height: 80px;
  width: 100%;
  opacity: 1;
}
label.logo {
  color: #2c3e50;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
nav ul {
  float: right;
  margin-right: 20px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a {
  color: white;
  font-size: 17px;
  text-transform: uppercase;
  padding: 7px 13px;
  border-radius: 3px;
  text-decoration: none;
}
a.active,
a:hover {
  background: #1b9bff;
  transition: 0.5s;
  text-decoration: none;
}
.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  display: none;
  cursor: pointer;
}
#check {
  display: none;
}
@media (max-width: 952px) {
  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a {
    font-size: 16px;
    text-decoration: none;
  }
}
@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  a:hover,
  a.active {
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul {
    left: 0;
  }
}

h1.heading {
  margin-top: 2em;
  margin-left: 8em;

  position: relative;
  z-index: 2;
}
div.sub-heading {
  margin-left: 4em;
  margin-right: 4em;
  margin-top: 2em;
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: blue;
  height: 35%;
  border-radius: 1.5em;
  border: 2px solid black;
  transition: 0.3s;
  box-shadow: 0 0.5 0.75em 0 rgb(0, 0, 0);
  position: relative;
  z-index: 2;
}
.sub-heading:hover {
  box-shadow: 0 0.5em 1em 0 rgba(0, 0, 0, 1);
}
code.update {
  font-weight: bold;
  font-size: 1em;
  color: white;
  margin-top: 1.4em;
  margin-left: 1em;
  position: relative;
  z-index: 2;
}
code {
  font-weight: bold;
  font-size: 1em;
  color: white;
  margin-top: 0.9em;
  margin-left: 1em;
}
div.row-grid {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: auto auto auto auto auto auto auto;
}

.button {
  display: inline-block;
  border-radius: 1.5em;
  background-color: #f4511e;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 1em;

  transition: all 0.5s;
  cursor: pointer;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 10px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.checked {
  color: orange;
}

.footer {
  width: 100%;
  height: 70%;
  background: #2c3e50;
  display: block;
  margin-top: 20px;
}
.inner_footer {
  width: 95%;
  margin: auto;
  padding: 30px 10px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: center;
}
.footer_items {
  width: 25%;
  padding: 10px 20px;
  box-sizing: border-box;
}
.footer_items h1 {
  padding: 10px 0;
  font-size: 25px;
  color: #fff;
}
.footer_items p {
  color: grey;
  font-size: 16px;
  text-align: justify;
  line-height: 25px;
}
.footer_items h2 {
  margin: 10px 0;
  color: grey;
  font-size: 16px;
  font-weight: lighter;
  text-transform: uppercase;
}
.border {
  height: 2px;
  width: 40px;
  background: #1b9bff;
}
.border ul {
  list-style: none;
  color: #fff;
  font-size: 15px;
  letter-spacing: 0.5px;
}
.border ul a {
  text-decoration: none;
  outline: none;
  color: #fff;
  transition: 0.3s;
}
.border ul a:hover {
  color: #1b9bff;
}
.border ul li {
  margin: 10px 0;
  height: 25px;
}
.border ul li i {
  margin-right: 20px;
}
.social_media {
  width: 100%;
  color: #fff;
  text-align: center;
}
.social_media a {
  text-decoration: none;
}
.social_media i {
  height: 15px;
  width: 15px;
  margin: 10px 5px;
  padding: 10px;
  color: #fff;
  border-radius: 50%;
  border: 1px solid grey;
  transition: 0.3s;
}
.social_media i:hover {
  background: grey;
}
.footer_bottom {
  padding: 10px;
  background: #3d545f;
  color: #fff;
  font-size: 12px;
  margin-top: 30px;
  text-align: center;
}
@media screen and (max-width: 1085px) {
  .footer_items {
    width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .footer_items {
    width: 100%;
  }
}
